* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.main h1 {
  margin: 0;
  padding: 2rem 0;
}
.personal_info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.form_info {
  padding-top: 30px;
  display: flex;
  justify-content: space-evenly;
}

.form_info > div {
  width: 50%;
}

.form-img {
  display: flex;
  justify-content: center;
}
.name h2,
.headline h2,
.form-about h2 {
  padding-top: 1rem;
  color: #000c75;
}
.name h3,
.headline h3,
.form-about p {
  margin-top: 0.5rem;
}
.form_info img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #000000;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transform: rotate(1.3deg);
  object-fit: cover;
  object-position: center;
}
.form-about {
  margin-top: 50px;
  width: 100%;
}

.personal_info input[type="text"] {
  padding: 0.5rem;
  border: 2px solid #000c75;
  border-radius: 5px;
  width: 100%;
  margin: 1rem 0;
}

.form-about textarea {
  width: 100%;
  min-height: 10rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 2px solid #000c75;
  margin: 1rem 0;
  padding: 0.5rem;
}

.info-btn {
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .form-about {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .form-info {
    display: flex;
    justify-content: space-around;
  }
  .form_info > div {
    width: 100%;
  }
  .header_info {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@media (max-width: 992px) {
  .form_info img {
    z-index: -1;
  }
  .header_info h1 {
    font-size: 2rem;
  }
}
@media (max-width: 480px) {
  .form_info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .form_info img {
    margin: auto;
  }
  .second_form_info {
    padding-top: 10px;
  }
  .name,
  .headline {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .name h3,
  .headline h3 {
    padding-top: 10px;
  }
}